* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html 
{
    scroll-behavior: smooth;
}
body 
{
    background: #ffffff;
    color: #333;
}
.navbar 
{
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    align-items: center;
    border-radius: 50px;
}
.logo 
{
    margin-right: 15px;
    font-weight: 700;
    color: #443be9ff;
}
nav a 
{
    margin-left: 15px;
    text-decoration: none;
    color: #555;
    font-weight: 400;
    border-radius: 50px;
    
}
.hero 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
.hero-text 
{
    max-width: 50%;
}
.tag 
{
    background: linear-gradient(90deg, #4f46e5, #ec4899);
    color: white;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 20px;
}
.hero-text h1 
{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
}
.hero-text h2 
{
    font-size: 48px;
    color: #4f46e5;
    font-weight: 700;
}
.buttons 
{
    margin-top: 25px;
}
.btn 
{
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}
.primary 
{
    background: #4f46e5;
    color: white;
    border: none;
}
.outline 
{
    background: transparent;
    border: 5px solid #ddd;
}
.hero-image img 
{
    width: 420px;
    border-radius: 45px;
    background: linear-gradient(235deg, #4f46e5, #ec4899);
    padding: 25px;
}
.about 
{
    text-align: center;
    padding: 80px 200px;
    background: #f9fafb;
}
.about h2 
{
    font-size: 36px;
    color: #4f46e5;
}
.subtitle 
{
    margin-top: 10px;
    font-weight: 500;
}
.description 
{
    margin-top: 15px;
    color: #666;
    line-height: 1.6;
}
.social-icons 
{
    margin-top: 20px;
}
.social-icons a 
{
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
footer 
{
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
    font-size: 14px;
    color: #666;
}
.footer-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #4f46e5;
}

